.lessons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 20px;
}

.completed {
  background-color: #B2FF33;
}

.incomplete {
  background-color: #D7D8D6;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn-video {
  margin-top: 80px;
}
