.menu-nav {
  background-color: #6b8ce6;
}

.navbar-brand {
  color: black;
  margin-left: 30px;
  cursor: pointer;
}

.link:hover{
  color: white;
  cursor: pointer;
}

.link {
  margin: 10px;
  color: black;
}
