.table {
  width: 70%;


}

.login {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 10px 30px;
  align-items: center;
}

.prin {
  display: flex;
  height: 900px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.btn {
  background-color: #6b8ce6;
  border-color: #6b8ce6;
  height:100px;
  width:200px;
  margin-bottom: 100px;

}


